.header{
    background-image: url(../pictures/ai_header.jpg);
    background-repeat: no-repeat;
    background-color: 	#001123;
    height: 378px;
    width: 100%;
    color: white;
}
.headerleft{
    padding-top: 50px;
    padding-left: 450px;
    font-family: 'Times New Roman', Times, serif;
}